html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.pixel {
    border: solid 1px gray;
    background-color: white;
    min-width: calc(1rem) ;
    min-height: calc(1rem);
}

.pixel:hover {
    background-color: black;
}

#gridContainer {
    display: flex;
    align-items: flex-end;
    width: min-content;
    border:1px solid darkgray;
}
